#left-eye {
  animation: wiggle 1s linear;
}

#right-eye {
  animation: wiggle 1s linear;
}

@keyframes wiggle {

  0% {
      transform: translate(5px);
  }

  50% {
      transform: translate(-5px);
  }

  100% {
      transform: translate(5px);
  }

}

#left-ear,
#right-ear {
  transition: all .5s ease-in;
}

#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translatey(-15);
}
